.root{
    -fx-background-image: url("../../../../../../../resources/Background.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}