.root{
    -fx-background-image: url("/it/unicam/cs/mpgc/rpg130077/SfondoBattaglia.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}